<!--<div class="container mt-3">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{ todo.title }}</td>
          <td>
            <fa-icon [icon]="faList" (click)="displayTodoDetail(todo)"></fa-icon>
            <fa-icon [icon]="faPenToSquare" (click)="updateTodo(todo)"></fa-icon>
            <fa-icon [icon]="faTrash" (click)="deleteTodo(todo)"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>-->
  